{% extends "layouts/layout_base_2_columns.html" %}

{% block A_1 %}

    <div style='height: 0px;width:0px; overflow:hidden'>
    <input id="upfile"  type="file">
    </div>


    <div style =" border-style: solid;border-width: 1px;left: 123px;position: absolute;right: 123px;top: 0">
    <img  src ="{{ MEDIA_URL }}uploads/student_signature/5/personal2.jpg">
    </div>

    <div class ="logo">
        <img  src ="{{ MEDIA_URL }}{{ image_path.0.photo }}" style="height:100%;width:100%">
        <div id = 'editImage' style="margin-top: -20px;display: none;" >
{#          <strong><div style= "cursor:pointer;" onclick="getFile()">Edit Image</div></strong>#}
        <a href="{% url edit_image %}">Edit Image</a></strong>
        </div>
    </div>

    <form class="formStudents">
        <div class="modal-header">
            <a href ={% url connected_students %}><strong>Students</strong></a>
        </div>
        <div class="modal-body">
             {% for student_image in  student_images %}
                <div class="studentImage">
                    <img  src ="{{ MEDIA_URL }}{{ student_image.photo }}" height="100%" width="100%">
                <div id = 'editImage' style="margin-top: -20px">
                    {{ student_image.appldetail__first_name }}
                </div>
                </div>
            {% endfor %}
        </div>
    </form>

      <form class="formFaculty">
        <div class="modal-header">
            <a href ={% url connected_faculty %}><strong>Faculty</strong></a>
        </div>
        <div class="modal-body">
            {% for faculty_image in  faculty_images %}
                <div class="studentImage">
                    <img  src ="{{ MEDIA_URL }}{{ faculty_image.photo }}" height="100%" width="100%">
                    <div id = 'editImage' style="margin-top: -20px">
                        {{ faculty_image.appldetail__first_name }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>



{#    {% for each_student in student_users %}#}
{#    <form class="logo form-frienRequest" style="margin-top: 300px " method="post" action="{% url student_verification %}"> {% csrf_token %}#}
{#        {{ each_student.username}}#}
{#        <input type = "hidden" value = "{{ each_student.id }}" name = "student_id"><br>#}
{#        <input class="btn btn-primary" id="id_submit" name = 'status' type="submit"  value="Confirm" />#}
{#        <input class="btn btn-primary" id="id_submit" name = 'status' type="submit"  value="Reject" />#}
{#    </form>#}
{#    {% endfor %}#}

    <form class="form-wallPost" action="{% url institute_profile %}" method="post" style= "width: 541px ">{% csrf_token %}
        <div class="modal-header">
            <h2>Bulletin Board:Post Your Bulletins Here.</h2>
        </div>
        <div class="modal-body">
        {% for each_field in wall_post.visible_fields %}
            {%  if each_field.errors %}
                {{ each_field.errors }}
            {% endif %}
            {% if each_field.name == 'wall_post' %}
            <div style="width: 100%">
                <textarea style="width: 497px" id="id_wall_post" name="wall_post" cols="157" rows="6"></textarea>
            </div>
            {% else %}
                Bulletin For
                <select id="id_group" name="group" >
                    {% for group in groups %}
                            <option value="{{ group.id }}" selected="True">{{ group.name }}</option>
                            </option>
                    {% endfor %}
                </select>

            {% endif %}
        {% endfor %}
        </div>
        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" style="float: right" value ="Post My Bulletin"></button>
        </div>
    </form>

    {%  for wall_post in all_wall_posts  %}
        <div class="form-inline" style="width: 489px ;margin-top:-6px">
            <div class="modal-header">
                {{wall_post.date_posted}} Posted By:{{ wall_post.user__username }}
                <select id ="wallGroup" select class="wallGroups">
                    <option value="">None</option>
                    {% for group in groups %}
                        {% if group.id == wall_post.group__id %}
                            <option value="{{ group.id }}" selected="True">{{ group.name }}</option>
                        {% else %}
                            <option value="{{ group.id }}" class="groupName" onclick="changeGroup('{{ group.id }}','{{ wall_post.id }}')">
                                {{ group.name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <a class="icon-trash"  style="float: right" href ="{% url delete_post wall_post.id %}"></a>
            </div>
            <br>
            {{ wall_post.wall_post }}
        </div>
    {%  endfor  %}
<script type="text/javascript">
    function changeGroup(group_id,wall_id)
    {
        $.get('/institute/wallgroup/'+group_id+'/'+wall_id);
    }

    $("document").ready(function(){
        $(".icon-trash").hide()
        $(".wallGroups").hide()
    });
        $(".form-inline").hover(function(){
            $(this).find(".icon-trash").show()
            $(this).find(".wallGroups").show()
            $(".form-inline").mouseleave(function(){
                $(".icon-trash").hide()
                $(".wallGroups").hide()
            })
           });

    $(".logo").hover(function(){
            $(this).find("#editImage").show()
            $(".logo").mouseleave(function(){
                $(this).find("#editImage").hide()
            })

           });

function getFile(){
        document.getElementById("upfile").click();
    }

</script>
{% endblock A_1 %}
