{% extends "layouts/layout_base_2_columns.html" %}

{% block A_1 %}
    <div style =" border-style: solid;border-width: 1px;left: 123px;position: absolute;right: 123px;top: 0">
    <img  src ="{{ MEDIA_URL }}uploads/student_signature/5/personal2.jpg">
    </div>


            <div style="margin: 255px 188px 0px 220px">
            {% for faculty in faculties %}
                    <div class="listingFaculty">
                        <div class="studentImage">
                            <img  src ="{{ MEDIA_URL }}{{ faculty.image__photo }}" style="height:100%;width:100%">
                         </div>
                        <div class="facultyName">
                         {{ faculty.user__first_name }}{{ faculty.user__last_name }}
                        </div>

                        {% if group_type == 'Institute' %}
                            <form enctype="multipart/form-data" method="post" action="{% url delete_faculty %}"> {% csrf_token %}
                            <input type="hidden" value = "{{ each.id }}" name="id">
                             <div class="clear"></div>
                            <div class="listingButton">
                                <input class="btn btn-primary" type="submit" value ="Delete"></button>
                            </div
                            </form>
                        {% endif %}

                    </div>

            {% endfor %}
            </div>

{% endblock A_1 %}

