{% extends "layouts/layout_base_2_columns.html" %}

{% block A_1 %}



        <div style =" border-style: solid;border-width: 1px;left: 123px;position: absolute;right: 123px;top: 0">
            <img  src ="{{ MEDIA_URL }}uploads/student_signature/5/personal2.jpg">
        </div>


          <div style="margin: 255px 188px 0px 220px">
            {% for student in students %}
                    <div class="listingFaculty">


                        <div class="studentImage">
                            <img  src ="{{ MEDIA_URL }}{{ student.photo }}" height="100%" width="100%">
                         </div>
                        <div class="facultyName">
                         {{ student.appldetail__first_name }}{{ student.appldetail__last_name }}
                        </div>

                        {% if group_type == 'Institute' %}
                            <form enctype="multipart/form-data" method="post" action="{% url delete_faculty %}"> {% csrf_token %}
                                <input type="hidden" value = "{{ each.id }}" name="id">
                                 <div class="clear"></div>
                                <div class="listingButton">
                                    <input class="btn btn-primary" type="submit" value ="Delete"></button>
                                </div
                            </form>
                        {% endif %}
                    </div>

            {% endfor %}
            </div>
        </div>

{#                <form enctype="multipart/form-data" method="post" action="{% url delete_student %}"> {% csrf_token %}#}
{#                    <select class="group">#}
{#                        <option value="">None</option>#}
{#                        {% for group in groups %}#}
{#                            {% if group.id == each.insti_group__id %}#}
{#                                <option value="{{ group.id }}" selected="True">{{ group.name }}</option>#}
{#                            {% else %}#}
{#                                <option value="{{ group.id }}" class="groupName" onclick="changeGroup('{{ group.id }}','{{ each.id }}')">#}
{#                                    {{ group.name }}#}
{#                                </option>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </td>#}
{##}





<script type="text/javascript">
    function changeGroup(group_id,student_id)
    {

        $.get('/institute/groups/'+group_id+'/'+student_id);
    }
</script>
{#    $('.group').change(function(){#}
{#       alert('ok.tested');#}
{#    });#}

{##}
{#    #}
{#<script type="text/template" id="user-list-template" >#}
{#    <select id="group" name="group">#}
{#        <option value="">select a group</option>#}
{#        <% _.each(users,function(users){ %>#}
{#        <option value="<%= users.get('fields') %>"><%= users.get('fields') %></option>#}
{#        <% }); %>#}
{#    </select>#}
{#</script>#}
{##}
{##}
{#    <script>#}
{#        $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {#}
{#        options.url = 'http://127.0.0.1:8000' + options.url;#}
{#        });#}
{##}
{#        var Users = Backbone.Collection.extend({#}
{#            url:'/institute/groups/'#}
{#        })#}
{##}
{#        var UserList = Backbone.View.extend({#}
{#            el:'.group',#}
{##}
{#            events:{#}
{#                "click .group":"doTest"#}
{#            },#}
{##}
{#            initialize: function() {#}
{#                this.clickHandler();#}
{#            },#}
{##}
{#            clickHandler: function() {#}
{##}
{#                var self = this;#}
{#                $('.group').click(function(e) {#}
{#                        self.doTest();#}
{#                });#}
{#            },#}
{##}
{#            doTest: function() {#}
{#                var that = this;#}
{#                var users = new Users;#}
{##}
{#                users.fetch()#}
{#                    success:function(users){#}
{#                        alert('test');#}
{#                        var template = _.template($('#user-list-template').html(),{users: users.models})#}
{#                        that.$el.html(template)#}
{#                    }#}
{#                })#}
{#            }#}
{#        })#}
{##}
{#        var Router = Backbone.Router.extend({#}
{#            routes:{#}
{#                '':'mygroups'#}
{#            }#}
{#        })#}
{##}
{#        var userList = new UserList();#}
{##}
{#        var router = new Router();#}
{#        router.on('route:mygroups',function(){#}
{#            userList.render();#}
{#        });#}
{##}
{#        Backbone.history.start();#}
{##}
{#    </script>#}
{% endblock A_1 %}