<strong>Reset Your Password</strong>
<br>

{% if validlink %}
    <form method='post'>{% csrf_token %}
        <ul>
            {% if form.errors.new_password2 %}
                <li class="error_message">{{form.errors.new_password2|striptags}}</li>
            {% endif %}
            <li><i>New Password</i>{{form.new_password1}}</li>
            <li><i>Cofirm Password</i>{{form.new_password2}}</li>
            <li>
                <i>&nbsp;</i>
                <input type="submit" class="button_new_green " value="Reset Password"/><div class="button_green_Ending"></div>
            </li>
        </ul>
    </form>
{% else %}
    <strong>You have already changed Your Password.<br/>Please raise a new request to change your password.</strong>
{% endif %}