{% extends "layouts/layout_base_3_rows.html" %}
{% block body_content %}
{% block breadcrumbs %}{% endblock breadcrumbs %}
{% block top %}{% endblock top %}
{% block A %}
{% block A_1 %}{% endblock A_1 %}
{% block A_2 %}{% endblock A_2 %}
{% block A_3 %}{% endblock A_3 %}
{% block A_4 %}{% endblock A_4 %}
{% endblock A %}
{% block B %}
{% block B_1 %}{% endblock B_1 %}
{% block B_2 %}{% endblock B_2 %}
{% block B_4 %}{% endblock B_4 %}
{% block B_5 %}{% endblock B_5 %}
{% endblock B %}

{% endblock body_content %}