{% extends "layouts/layout_base_2_columns.html" %}



{% block A_1 %}

    <form class ="form-changepassword" method="post">{% csrf_token %}
        <h2 class="form-horizontal-heading">Change Password</h2>
        {% for each_field in change_password_form.visible_fields %}
        <div class="control-group">
            <div class="controls">
                {%  if each_field.errors %}
                {{ each_field.errors }}
                {% endif %}
                {{each_field}}
            </div>
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value ="Change Password"></button>
    </form>


{% endblock A_1 %}