{% extends "layouts/layout_base_2_columns.html" %}
{% block A_1 %}



    <div class ="logo">
        <img  src ="{{ MEDIA_URL }}{{ image_path.0.photo }}" style="width: 100%;height: 100%">
    </div>
    <a href='{% url 'faculty_detail' profile_user.id profile_user.username %}'>Blogs</a>

        <form class="form-profileSub" enctype="multipart/form-data" method="post"> {% csrf_token %}
            <h2><strong>Profile Information</strong></h2>
            {% for each_field in form.visible_fields %}
                <div class="control-group">
                    <label class="control-label" for="id_{{ each_field.label|lower }}">{{ each_field.label }}</label>
                    <div class="controls">
                    {%  if each_field.errors %}
                    {{ each_field.errors }}
                    {% endif %}
                        {% if each_field.name == 'address' %}
                            <textarea id="id_address" name="address" cols="27" rows="4">{{ each_field.value }}</textarea>
                        {% else %}
                            {{ each_field }}
                        {% endif %}

                     </div>
                </div>
            {% endfor %}
            {% if group_type == user_group.0 %}
             <input class="btn btn-primary" type="submit" value ="Submit Profile"></button>
            {% endif %}
        </form>
{% endblock A_1 %}

