{% extends "layouts/layout_base_2_columns.html" %}

{% block A_1 %}

    <div style =" border-style: solid;border-width: 1px;left: 123px;position: absolute;right: 123px;top: 0">
    <img  src ="{{ MEDIA_URL }}uploads/student_signature/5/personal2.jpg">
    </div>

    <div class ="logo">
        <img  src ="{{ MEDIA_URL }}{{ image_path.0.photo }}" style="height:100%;width:100%">
        <div id = 'editImage' style="margin-top: -20px;display: none;" >
        <strong><a href="{% url edit_image %}">Edit Image</a></strong>
        </div>
    </div>


    <div class="form-groupListing">
        {% for group in groups %}
            <div class="form-inlineGroup">
                <div class="modal-header">
                    <a href="{% url edit_group group.id %}">{{ group.name }}</a>
                </div>
                    <br>
                    <p>{{group.description }}</p>
                    <form action="{% url delete_group %}" method="post">{% csrf_token %}
                            <input type="hidden" value="{{ group.id }}" name="id">
                            <input  type="submit" value="Delete">
                    </form>
            </div>
            <div class="clear"></div>
        {% endfor %}
    </div>


{#<a class="btn btn-primary groupListButton" href="#addGroupModal" role="button" class="btn btn-primary" data-toggle="modal">Add Group</a>#}

<div id="addGroupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 275px; margin-left:-154px">
 <form action="{% url static_group_config %}" method="post">{% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2 id="addGroupModalLabel">Group Creation</h2>
        </div>

        <div class="modal-body">
            {% for each_field in form.visible_fields %}
            <div class="control-group">
                <div class="controls">
                    {%  if each_field.errors %}
                    {{ each_field.errors }}
                    {% endif %}
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li><a tabindex="-1" href="#">Action</a></li>
                            <li><a tabindex="-1" href="#">Another action</a></li>
                        </ul>
                        {{each_field}}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" value ="Add to my Group"></button>
        </div>
    </form>
</div>

{% endblock A_1 %}