* { margin:0; padding:0; list-style:none;}
ul, ol { margin:0px; padding:0px;}
fieldset { border:0px;}
a,a:hover  { color:#0a9600; text-decoration:none;}
.div_cointainer_courses  {background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 2px 2px 2px 2px;
    left: 68px;
    margin-top: -45px;
    padding: 20px;
    position: absolute;
    width: 662px;
    z-index: 1;}
.div_cointainer_courses strong { font:bold 18px Arial, Helvetica, sans-serif; color:#000000; display:block; padding:0 0 10px 0;}
.div_cointainer_courses ul { float:left; width:206px; margin:0 10px 0 0px;}
.div_cointainer_courses li { font:normal 12px 'Source Sans Pro', sans-serif; color:#666666; padding:3px ; float:left; width:80%; }
.div_cointainer_courses .checkbox input { margin:0px 10px 0 0; float:left;}


.div_cointainer_courses .morecourses {border:solid 1px #cfcfcf; border-radius:2px; border-right:0px; font:normal 11px Arial, Helvetica, sans-serif; position:absolute; padding:7px 17px 7px 7px; left:-125px; background:url(../img/arrows.gif) right -18px  no-repeat #fff; width: 100px;}
.leftside .leftselect .div_cointainer_courses span { margin:0;}

.close {
    background: url("../img/sprite.png") no-repeat scroll -147px -628px transparent;
    font: 11px Arial,Helvetica,sans-serif;
    padding: 2px;
    position: absolute;
    right: -21px;
    width: 17px;
}
.close a { width:24px; height:31px; display:block;}

.clear { clear:both;}



.buttongreen{
           background: url("../img/gra.png") repeat-x scroll 0 -92px transparent;
    border-color: #82D444 #82D444 #206411;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px #AAAAAA;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font: 14px 'lato';
   
    padding: 5px 6px 8px 6px;
    text-align: center;
    text-shadow: 1px 1px 1px #305D1B; }



.div_cointainer_photo {background:#fff; width:675px; margin:auto; position:relative; padding:2px; border:solid 1px #cfcfcf; border-radius:2px; height:390px; box-shadow: 2px 2px 2px #b7b7b7; }

.div_cointainer_photo .picbig { float:left; width:392px; padding:15px; position:relative; border-right:dashed 1px #d2d2d2;}
.div_cointainer_photo .preview { background:#f8f8f8; padding:15px 15px 15px 30px; float:left; width:196px; height:91%;}
.div_cointainer_photo .picbig strong, .preview strong  { font:normal 18px Arial, Helvetica, sans-serif; color:#000000; display:block; padding:0 0 10px 0;}
.div_cointainer_photo .preview img { border:solid 1px #d8d8d8;box-shadow: 1px 1px 2px #eee;}
.div_cointainer_photo .crop { position:absolute; width:180px; height:180px; border:solid 2px #a8cd26; top:25%;}
.div_cointainer_photo .crop span {  background: url("../img/circle_1.png") no-repeat scroll 0 0 transparent;height: 22px;position: absolute; top: -13px; width: 26px; left:81px;}
.div_cointainer_photo .cross {box-shadow: 2px 2px 2px #b7b7b7;}




.div_cointainer_login {background:#fff;width:428px; margin:auto; position:relative; border:solid 1px #cfcfcf; border-radius:2px; box-shadow: 0 0 0 #b7b7b7;}




.div_cointainer_login .register { width:100%; }
.div_cointainer_login .register strong { color:#86bb05; font-weight:600; display:block; font:normal 21px 'Source Sans Pro', sans-serif; padding:10px 0 0 15px;}
.div_cointainer_login .register em { font-size:12px; font-style:normal; color:#666666;padding:0px 0 0 15px; float:left; display:block;}
.div_cointainer_login .register p { font-size:12px; font-style:normal; color:#666666;padding:10px 0 10px 15px; float:left; display:block;}
.div_cointainer_login .register span { border:0px; color:#343434; font-size:12px; margin:10px 0;  padding:0 0 0 15px; float:left; }
.div_cointainer_login li { float:left; width:90%; margin:5px 0; position:relative;}
.div_cointainer_login .register label { padding:5px 0 2px 0; float:left; width:100px; position:relative; font:normal 12px Arial, Helvetica, sans-serif;} 
.div_cointainer_login .register .text { float:left; width:255px;font-size:11px; border-radius:2px;font:normal 12px 'Source Sans Pro', sans-serif;}
.div_cointainer_login .error {color:#ff0000;}
 .div_cointainer_login .error .text{ border:solid 1px #b66a6a; color:#ff0000;}
  .div_cointainer_login .buttongreen { margin:0 10px 0px 0; padding:5px 10px;}
.div_cointainer_login .register a { padding:10px 0 0 0; float:left;}

.div_cointainer_login .register .dk_container .dk_options .dk_options_inner {
    border: medium none;
    font: 12px arial;
    margin: 5px 0 10px 15px;
    width: 235px;
}


.div_cointainer_login .register .dk_container .dk_options .dk_options_inner li a {border:none;padding:2px 0 2px 5px;}
.div_cointainer_login .register .dk_container  .dk_toggle span { border:0px; color:#343434; font-size:12px;  padding:0 0 0 10px; float:left; margin:-5px 0 0 0;}

.div_cointainer_login .register .dk_container .dk_options .dk_options_inner .dk_option_current{border:none;}

   
   .div_cointainer_login .register .crossing { right:-31px; top:0px;}
    .div_cointainer_login .connect {padding:5px 15px; font:normal 12px Arial, Helvetica, sans-serif;}
	 .div_cointainer_login .connect li {  float:left; width:83px; height:36px;}
	  .div_cointainer_login .connect .sign { padding:10px 0  0 0;}
	 .div_cointainer_login .connect .fb  { background:url(../img/sprite.png) -5px -802px no-repeat; width:125px;}
	  .div_cointainer_login .connect .google {background:url(../img/sprite.png)  -1px -843px no-repeat;width:125px;}
	  	 .div_cointainer_login .connect .fb a,   .div_cointainer_login .connect .google a { display:block;width:125px; height:36px; cursor:pointer;}
.div_cointainer_login .register .thanktext { padding:5px 0 15px 15px;}


.div_caution { background:#fff7cd; width:610px; border-radius:2px; border:solid 1px #8c8c8c; padding:15px;margin:auto; position:relative;   box-shadow: 2px 2px 2px #b7b7b7;}

.div_caution strong { font:bold 18px  Arial, Helvetica, sans-serif; display:block; padding:0 0 3px 0;}
.div_caution strong span { background:url(../img/sprite.png) 0px -368px no-repeat; float:left; width:25px; height:26px;}
.div_caution em { font:bold 12px Arial, Helvetica, sans-serif; padding:5px 0; display:block;}
.div_caution p { color:#666666; font:normal 12px Arial, Helvetica, sans-serif; padding:10px 0;}
.div_caution .close { background:url(../img/sprite.png) -139px -794px no-repeat; height:50px;}

.div_cointainer_eligibilty {width:560px; margin:auto; position:relative; padding:15px 0; border:solid 1px #cfcfcf; border-radius:2px;  box-shadow: 2px 2px 2px #b7b7b7;}
.div_cointainer_eligibilty strong {color:#86bb05; font-weight:600; display:block; font:normal 21px 'Source Sans Pro', sans-serif; padding:5px 15px 10px 15px;}
.div_cointainer_eligibilty em { font:normal 12px Arial, Helvetica, sans-serif; font-style:normal; color:#000;padding:0px 0 0 15px; float:left; display:block;}
.div_cointainer_eligibilty b { font:bold 11px Arial, Helvetica, sans-serif; font-style:normal; color:#666;padding:0px 0 0 15px; float:left; display:block;}
.div_cointainer_eligibilty ul { width:100%; float:left;}
.div_cointainer_eligibilty li { border-bottom:1px solid #E7E7E7; padding:5px 15px 5px 15px; color:#666; font:normal 12px Arial, Helvetica, sans-serif; float:left; width:530px;}
.div_cointainer_eligibilty .num { width:20px; float:left;}
.div_cointainer_eligibilty .name { width:500px; float:left;}
.div_cointainer_eligibilty .name strong { float:left; display:block; font:normal 12px Arial, Helvetica, sans-serif; color:#666; padding:0;}

.div_cointainer_eligibilty .comparison { float:left; margin:15px; position:relative; width:297px;}
.div_cointainer_eligibilty span {color:#86bb05; font-weight:400; display:block; font:normal 17px 'Source Sans Pro', sans-serif; padding:10px 0 0px 15px; float:left; }
.div_cointainer_eligibilty .comparison1 {height:200px;overflow-y: scroll;width:250px; border:1px solid #E5E5E5; border-radius:2px; }
.div_cointainer_eligibilty .comparison1 strong { font:bold 12px Arial, Helvetica, sans-serif; color:#333; float:left;}
.div_cointainer_eligibilty .comparison b { font:bold 12px Arial, Helvetica, sans-serif; color:#333; float:left; width:100%; padding:0; margin:0 0 10px 0;}


.div_cointainer_eligibilty .comparison1 .base_show {
    border-bottom: 1px solid #E5E5E5;
    float: left;
    padding: 5px;  font:normal 12px Arial, Helvetica, sans-serif; 
}

.div_cointainer_eligibilty .comparison1 .base_show .compare3 { float:left; width:20px;}

.div_cointainer_eligibilty .comparison1 .base_show .compare2 { float:left; display:block; width:200px;}

.div_cointainer_eligibilty .comparison .show_arrow { position:absolute; width:47px; height:43px; background:url(../img/sprite.png) -71px -178px no-repeat; top:134px; right:-5px;}
.div_cointainer_eligibilty .add_college {
    float: left;
    margin: 15px 0 0;
    width: 215px;}
.div_cointainer_eligibilty .add_college strong{
	color: #333333;
    float: left;
    font: bold 12px Arial,Helvetica,sans-serif;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;}
.div_cointainer_eligibilty .add_college1 {
    border: 1px solid #E5E5E5;
    height: 195px; float:left; width:213px; border-radius:2px;
}

.div_cointainer_eligibilty .add_college .add_college1 ul { width:210px; float:left;}
.div_cointainer_eligibilty .add_college .add_college1 li { width:202px; float:left; border-bottom:solid 1px #e5e5e5; padding:3px 3px 3px 10px; }
.div_cointainer_eligibilty .add_college .add_college1 .cross { background:url(../img/sprite.png) -193px -335px no-repeat; width:22px; height:20px; float:left; padding:0;}
.div_cointainer_eligibilty .add_college .add_college1 li em {font:normal 12px Arial, Helvetica, sans-serif; width:178px; float:left; padding:0px;}



.div_cointainer_eligibilty .name em { float:left; display:block; font:bold 11px Arial, Helvetica, sans-serif; color:#000; font-style:normal; padding:2px 0;}
.div_cointainer_eligibilty .cross { width:20px; background:url(../img/sprite.png) -193px -338px no-repeat; height:22px; float:right; }
.div_cointainer_eligibilty .cross a { display:block; width:100%; height:24px;float:right;}
.margin70 { margin-left:250px;}


.modalAnimation {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../images/loadingAnimation.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalAnimation {
    display: block;
}



