body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.form-signin2 {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    float: right;
    margin-right:145px;
    margin-top: 20px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.form-inline {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.50);
    width:520px;
    position: relative;
    display:inline;
    padding:10px 10px 10px 10px;
    float:right;
    height:100px;
}

.form-inlineGroup {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.50);
    width:1000px;
    position: relative;
    float: right;
    display: inline-block;
    padding:10px 10px 10px 10px;
    margin :10px 10px 10px 10px;
}
.homePageContainer {
    padding: 19px 29px 29px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    float:left;
    margin-left: 175px;
    margin-top: 30px;
    height:354px;
    width:600px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.footer-outer1 {
    border-top: 1px solid #EEEEEE;
    clear: both;
    margin: 0 auto;
    position: relative;
}

.registerInside {
    padding-left: 9px;
    padding-top: 2px;
}

.size128 {
    border-radius: 6px 6px 6px 6px;
    height: 128px;
    width: 128px;
}

.logo{
    position: absolute;
    margin-top: 0;
    top:298px;
    left:123px;
    border: 4px solid #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    height: 160px;
    width: 160px;

}

.formStudents{
    position: absolute;
    margin-top: 0;
    top:478px;
    left:123px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.50);
    height: 160px;
    width:438px;
}
.formFaculty{
    position:absolute;
    margin-top: 0px;
    left:123px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.50);
    height: auto !important;
    width:438px;
    top:678px;
}



.form-frienRequest{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.50);
    height:60px
}



.user_list{
        position:relative;
        height: 100px;
        width:100px;
        margin-top: 100px;
}
.listingFaculty{
     background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.50);
    display: inline-block;
    margin: 0 0 13px 13px;
    padding: 0 10px 0 0;
    vertical-align: top;
    width: 390px;
}
.listingButton{
    vertical-align: middle;
    display: inline-block;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    float: right;
    /*display: inline;*/
    margin-top: -60px;
}

.facultyName{
    color: #333333;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    height: 100px;
}

.form-connection {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    margin: 268px 123px;
    padding-left: 8px;
    width: 1037px;
}

.form-changepassword {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    float: right;
    height: 175px;
    margin: 30px 583px 20px auto;
    padding-left: 15px;
    padding-top: 10px;
    width: 234px;
}

.form-group {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    height: 268px;
    margin: 30px 516px 20px auto;
    padding-left: 15px;
    padding-top: 10px;
    width: 257px;
}

.groupListButton {
    float: right;
    margin-right: 122px;
    margin-top: 255px;
    position: relative;
}
.cover{
    padding-left: 111px;
}
/*#######################################################################*/
.wallPost{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.50);
    padding:10px 10px 10px 10px;
    margin-bottom: 10px;
    height:auto !important;

}

.wallPostDiv {

     margin-top: 0px;
     width:541px;
     float: right;
     margin-right: 122px;
 }


.form-wallPost {
     margin: 0 auto 20px;
     background-color: #fff;
     border: 1px solid #e5e5e5;
     -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     box-shadow: 0 1px 2px rgba(0,0,0,.50);
     margin-top: 210px;
     width:230px;
     float: right;
     margin-right: 123px;
 }

.studentImage{
    position: relative;
    height:134px;
    width: 134px;
    float: left;
    margin:1px 1px 1px 1px !important;
    display: inline;
}

.form-profileSub{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.50);
    height:auto;
    width:auto;
    float: right;
    margin-right: 121px;
    margin-top: 225px;
    padding: 10px 10px 10px 10px;
}


.form-groupListing {

    float: right;
    margin-right: 0px;
    position: relative;
    width: 781px;
    margin-top: 260px;
    margin-right: 126px;
 }

.form-inlineGroup {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.50);
    width:229px;
    position: relative;
    float: right;
    padding:10px 10px 10px 10px;
    margin :10px 10px 10px 10px;
}


.login{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.50);
    height: auto !important;
    margin-top: 35px;
    width: 255px;
    float:left;
    margin-left: 40px;
    padding: 10px 10px 10px 10px;
}

.login-class{
    margin-right:110px;
}