{% extends "layouts/layout_base_2_columns.html" %}
{% block A_1 %}

     <form style='height: 0px;width:0px; overflow:hidden;' enctype="multipart/form-data" method="post" class="form-horizontal"> {% csrf_token %}
    <label class="control-label" for="id_photo"></label>
        <input id="upfile"  type="file" name="photo">
    <input type="hidden" value="{}" name="crop_dictionary" id="id_cropdict">
    </form>

{#    <div style =" border-style: solid;border-width: 1px;left: 123px;position: absolute;right: 123px;top: 0">#}
{#    <img  src ="{{ MEDIA_URL }}uploads/student_signature/5/personal2.jpg">#}
{#    </div>#}


    <div class ="logo">
        <img  src ="{{ MEDIA_URL }}{{ image_path.0.photo }}" style="height:100%;width:100%">
        <div id = 'editImage' style="margin-top: -20px;display: none;" >
          <strong><div style= "cursor:pointer;" onclick="getFile()">Edit Image</div></strong>
        </div>
    </div>

   <form class="formStudents">
        <div class="modal-header">
            <a href ={% url 'connected_students' %}><strong>Students</strong></a>
        </div>
        <div class="modal-body">
             {% for student in connected_students %}
                <div class="studentImage">
                    <img  src ="{{ MEDIA_URL }}{{ student.student__images__photo }}" height="100%" width="100%">
                <div id = 'editImage' style="margin-top: -20px">
                    <a href={%url profile student.student__user_id  student.student__user__username%}>
                        {{ student.student__user__first_name }}
                    </a>
                </div>
                </div>
            {% endfor %}
        </div>
    </form>



    {% if group_type == 'Faculty' %}
    <form class="form-wallPost" method="post" style= "width: 541px ">{% csrf_token %}
        <div class="modal-header">
            <h2>Bulletin Board:Post Your Bulletins Here.</h2>
        </div>
        <div class="modal-body">
        {% for each_field in bulletinForm.visible_fields %}
            {%  if each_field.errors %}
                {{ each_field.errors }}
            {% endif %}
            {{ each_field }}

        {% endfor %}
        </div>
        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" style="float: right" value ="Post My Bulletin"></button>
        </div>
    </form>
    {% endif %}
    <div class="clear"></div>

<div class="wallPostDiv">
{%  for bulletin in all_bulletins %}
    <div class="wallPost" >
        <div class="modal-header">
            {{bulletin.date_posted}} Posted By:{{ bulletin.user__username }}
            <select id ="wallGroup" select class="wallGroups">
                <option value="">None</option>
                {% for group in groups %}
                    {% if group.id == bulletin.group__id %}
                        <option value="{{ group.id }}" selected="True">{{ group.name }}</option>
                    {% else %}
                        <option value="{{ group.id }}" class="groupName" onclick="changeGroup('{{ group.id }}','{{ wall_post.id }}')">
                            {{ group.name }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <a class="icon-trash"  style="float: right" href ="{% url delete_post bulletin.id %}"></a>
        </div>
        <a href={% url show_bulletin bulletin.id %}>{{ bulletin.title }}</a>
    </div>
{%  endfor  %}
</div>

{% if group_type == 'Student' %}
    {% if connected %}
        <input  class="btn btn-primary" value ="Following" disabled="True"></button>
    {% else %}
        <input id='follow' class="btn btn-primary" value ="Follow" onclick="follow_faculty('{{ username }}')"></button>
    {% endif %}
{% endif %}




<script type="text/javascript">
    function changeGroup(group_id,wall_id)
    {
        $.get('/institute/wallgroup/'+group_id+'/'+wall_id);
    }
    function follow_faculty(faculty_username)
    {
        $.get('/faculty/follow_faculty/'+faculty_username+'/');
        $("#follow").attr('value', 'Following');
        $("#follow").attr('disabled','disabled');
    }

</script>

    <script type="text/javascript">
    $("document").ready(function(){
        $(".icon-trash").hide()
        $(".wallGroups").hide()
    });
        $(".form-inline").hover(function(){
            $(this).find(".icon-trash").show()
            $(this).find(".wallGroups").show()
            $(".form-inline").mouseleave(function(){
                $(".icon-trash").hide()
                $(".wallGroups").hide()
            })
           });

    $(".logo").hover(function(){
            $(this).find("#editImage").show()
            $(".logo").mouseleave(function(){
                $(this).find("#editImage").hide()
            })

           });
</script>
{% endblock A_1 %}