{% extends "layouts/layout_base_2_columns.html" %}

{% block A_1 %}
<div class ="logo">
    <img  src ="{{ MEDIA_URL }}{{ image_path.photo }}" height="100%" width="100%">
    <strong><a href="{% url edit_image %}">Edit Image</a></strong>

</div>

{%  for wall_post in all_wall_posts  %}
<div class="" style="width: 489px">
    <div class="content">
        {{ wall_post.wall_post }}<br>
        By:{{wall_post.user__username}}
        Group:{{ wall_post.group__name }}
    </div>
</div>
{%  endfor  %}

{% endblock A_1 %}













